*{
    box-sizing: border-box;

}
.background{
    height: 900px;
    width: 900px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image:url( "https://images.pexels.com/photos/16842371/pexels-photo-16842371.jpeg;")
    
}