*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;

}

.box:hover{
    background-color: violet;

}

.input:focus{
    background-color:hotpink;
    border: 2px solid black;
}
