*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 500px;
    width: 500px;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.box{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    margin: auto;
    border-radius: 20px;
    margin-top: 50px;
    background-color: crimson;
    transition: all 1s;

}
.box:hover{
    transform: scale(1.5);
   /* transform: scaleX(1.5);*/
  /* transform: scaleY(1.5);*/

  /*transform: rotate(45deg);*/
  /*transform: rotateX(90deg);*/
  /*transform: rotateY(90deg);*/

  /*transform:skew(45deg);*/
  /*transform: skewX(45deg);*/
 /* transform: skewY(45deg);*/
}
