*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
body{
    background-color: black;
    color: white;
    overflow: hidden;
    height: 100vh;
}
.main-container{
    display: flex;
    height :100vh;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 245px;
  border-right: 1px solid gray;
  padding: 24px 12px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 10;
}

.nav-top,.nav-bottom{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0px 30px;
  margin-top: 110px;
  margin-bottom: 20px;
}

.logo {
  font-size: 30px;
}

.nav-item i {
  font-size: 25px;
}
.nav-item span {
  margin-left: 20px;
}

.nav-item:hover {
  background-color: rgb(17, 17, 17);
  border-radius: 5px;
  cursor: pointer;
}
